
.btnNewsletter {

    background-color: var(--bg-primary) !important;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 20px;
    font-size: 1.2rem;
    color: var(--white) !important;
    
    svg {
        font-size: 1.5rem;
        color: var(--red) !important;
    }
}

@media (max-width: 992px) {

   
    .brand {
        display: none !important;
    }
}