div.login {
    height: 100vh;
    background-color: var(--bg-primary);

    form.loginForm {
        border-radius: 5px;
        padding: 25px;
        background-color: var(--bg-secondary);

        svg {
            font-size: 2rem;
            color: var(--gray-primary);
        }

        label {
            color: var(--gray-primary);
        }

        input {
            color: var(--gray-primary);
            background-color: var(--bg-primary);
            height: 2.8rem;
            border-color: var(--third);
        }

        button {
            background-color: var(--red);
            width: 100%;
            margin-top: 3rem;
            color: var(--white);
            font-size: 1rem;
            padding: 10px 0;
            font-weight: 500;
            text-transform: uppercase;
        }
    }
}
